body {
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  width: auto;
  height: 54px;
}
.azure {
  display: flex;
}
.icone {
  width: 24px;
  height: 25px;
}

.navbar_comp_1 {
  margin: auto;
}

.navbar_comp_1 {
  font-size: 25px;
}

.semi_title {
  text-align: center;
}

.navbar_comp_2,
.navbar_comp_4,
.navbar_comp_5 {
  padding: 20px 8px;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.Pesquisa {
  border-radius: 4px;
  min-height: 32px;
  background-color: #f8f9fa;
  border-color: #747479;
  font-size: 13px;
  padding-left: 12px;
  padding-right: 24px;
  width: 120px;
}

.navbar_comp_2:hover,
.navbar_comp_3:hover,
.navbar_comp_4:hover {
  text-decoration: underline;
  cursor: pointer;
  align-items: center;
}

.semi_title {
  background-color: #0078d4;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 0;
  font-weight: bold;
}

button {
  border: none;
  background-color: #fff;
}

.azure_list {
  margin-right: auto;
  display: flex;
}

.azure_fundo {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -10;
}

.azure_content {
  display: flex;
}

.test,
.introduction {
  background-color: transparent;
}

.azure_text {
  display: flex;
}
